---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de" class="selection:bg-yellow-100">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Finde heraus ob und wie viel deine Indexmiete steigen kann"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
