---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de" class="selection:bg-yellow-100">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Finde heraus ob und wie viel deine Indexmiete steigen kann"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📈</text></svg>"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
